<div class="clear-10"></div>
<div class="footBg">
    <div class="footBglm">
    <a target="_blank" href="/about.jhtml">关于我们</a> - 
    <a target="_blank" href="http://www.jeecms.com/lxwm.htm">联系我们</a> - 
    <a target="_blank" href="http://www.jeecms.com/zhaopin.htm">诚聘英才</a> -
    <a target="_blank" href="http://www.jeecms.com">友情链接</a> - 
    <a target="_blank" href="http://www.jeecms.com/download/index.htm">程序下载</a> - 
    <a target="_blank" href="http://www.jeecms.com">合作服务</a> - 
    <a target="_blank" href="http://www.jeecms.com/xkxy.htm">许可协议</a> - 
    <a onclick="SetHome(window.location)"href="javascript:void(0)">设为首页</a> - 
    <a onclick="AddFavorite(window.location,document.title)"href="javascript:void(0)">加入收藏</a> - 
    <a target="_blank" href="${base}/mcms/index.do">管理登录</a>
    </div>
    <div class="clear-10"></div>
    电话：0791-6538070、13576281815　传真：0791-6538070  [@process_time/]<br />
    Powered by <a target="_blank" href="http://www.jeecms.com">JEECMS</a> Copyright &copy; 2007-2015 www.jeecms.com, All Rights Reserved 
    [#if site.config.flowSwitch]pv总量<span id="pv"></span>  访客数总量<span id="visitor"></span>今日pv<span id="dayPv"></span>  今日访客数<span id="dayVisitor"></span>[/#if]
</div>