<link href="${base}/res/jeecms/css/admin.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/theme.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.validate.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.treeview.css" rel="stylesheet" type="text/css"/>
<link href="${base}/res/common/css/jquery.ui.css" rel="stylesheet" type="text/css"/>

<script src="${base}/thirdparty/My97DatePicker/WdatePicker.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jquery.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jquery.ext.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jquery-ui.js" type="text/javascript"></script>
<script src="${base}/res/common/js/jeecms.js" type="text/javascript"></script>
<script src="${base}/res/jeecms/js/admin.js" type="text/javascript"></script>

<script src="${base}/thirdparty/ueditor/ueditor.config.js" type="text/javascript" ></script>
<script src="${base}/thirdparty/ueditor/ueditor.all.min.js" type="text/javascript" ></script>
<script src="${base}/thirdparty/ueditor/lang/zh-cn/zh-cn.js" type="text/javascript" ></script>
<#if ssoEnable>
<script type="text/javascript">
$(function(){
	Pn.loginSSO('${base}');
});
</script>
</#if>