<div class="footer">
    <div class="clearfix footer-inner">
            <a target="_blank" href="/about.jhtml">关于我们</a> - 
			<a target="_blank" href="http://www.jeecms.com/lxwm.htm">联系我们</a> - 
			<a target="_blank" href="http://www.jeecms.com/zhaopin.htm">诚聘英才</a> -
			<a target="_blank" href="http://www.jeecms.com">友情链接</a> - 
			<a target="_blank" href="http://www.jeecms.com/download/index.htm">程序下载</a> - 
			<a target="_blank" href="http://www.jeecms.com">合作服务</a> - 
			<a target="_blank" href="http://www.jeecms.com/xkxy.htm">许可协议</a> - 
			<a onclick="SetHome(window.location)"href="javascript:void(0)">设为首页</a> - 
			<a onclick="AddFavorite(window.location,document.title)"href="javascript:void(0)">加入收藏</a> - 
			<a target="_blank" href="${base}/mcms/index.do">管理登录</a>
       <br/>
       
Powered by <a target="_blank" href="http://www.jeecms.com">JEECMS</a> Copyright &copy; 2007-2013 www.jeecms.com, All Rights Reserved 
       <br/>
      
          电话：0791-6538070、13576281815　传真：0791-6538070  [@process_time/]<br />
      
    </div>
</div>
<script type="text/javascript" language="javascript">
   //加入收藏
	   function AddFavorite(sURL, sTitle) {
		   sURL =encodeURI(sURL); 
	   try{   
		  window.external.addFavorite(sURL, sTitle);   
	   }catch(e) {   
		  try{   
			  window.sidebar.addPanel(sTitle, sURL, "");   
		   }catch (e){   
			  alert("您的浏览器不支持自动加入收藏功能，请使用Ctrl+D进行添加，或手动在浏览器里进行设置！");
		  }   
	   }
   }
   
   //设为首页
   function SetHome(url){
	   if (document.all) {
		  document.body.style.behavior='url(#default#homepage)';
			 document.body.setHomePage(url);
	   }else{
		   alert("您的浏览器不支持自动设置页面为首页功能，请您手动在浏览器里设置该页面为首页！");
	   }
   }
</script>